# Virtual environment
.venv/

# Dataset folders
data/
VOC2012_test/
VOC2012_train_val/

# Model checkpoints
*.pth

# Ignore old result folder
results/

# Keep final results folder in GitHub
# results_final/ is intentionally NOT ignored

# Ignore old evaluation script
evaluate_segmentation.py

# Python cache
__pycache__/
*.pyc