.venv/
__pycache__/
*.pyc

data/
# results/

*.pth
*.tar
*.zip

.vscode/
.DS_Store
VOC2012_test/
VOC2012_train_val/
# Virtual environment
.venv/

# Dataset folders
data/
VOC2012_test/
VOC2012_train_val/

# Result folders
results/


# Model checkpoints
*.pth

# Ignore old evaluation script
evaluate_segmentation.py